/* Basic Reset and Body Styling */
html, body {
    font-family: Arial, sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
    overflow-y: visible;
}

/* Header Styling */
header {
    background: url(assets/backgroundImage.png);
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
   }

/* Container for Layout */
.container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    box-sizing:border-box;
    height: 100%;
    
}

/* Sidebar Styling */
.sidebar {
    flex: 1;
    max-width: 220px;
    padding: 10px;
    background-color: rgb(88, 199, 236);
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 100%;
}

.main {
    flex: 3;
    width: 75%;
    float:left;
    padding: 20px;
    margin-right: 0px;
    box-sizing: border-box;
    height: 100%;
}


.cityWeatherForm {
    background: rgb(247, 247, 247);
    padding: 10px;
    box-shadow: 0 0 10px rgba(70, 184, 163, 0.1);
    display: flex;
    flex-direction: column;
}

.cityInput {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid rgb(239, 239, 243);
    border-radius: 12px;
    box-shadow: 2px 2px 5px darkslategray;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: #87cbeb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 5px darkslategray;
}

button[type="submit"]:hover {
    background-color: #163ad8;
    transition: background-color 1s ease;
}

.search-history button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: linear-gradient(150deg, rgb(194, 231, 243), pink);
    color: black;
    border: none;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 2px 2px 5px darkslategray;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search-history button:hover {
    background-color: #2343d1; /* Darker blue on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    filter: brightness(0.7);
}

.card {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(88, 199, 236);
    box-shadow: 2px 2px 5px darkslategray;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

/* Forecast Cards Styling */
.forecast-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.current-day-card {
    background: linear-gradient(150deg, rgb(194, 231, 243), pink);
    padding: 10px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px darkslategray;
}

.day-card {
    padding: 10px;
    margin: 10px;
    display:inline-block;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(150deg, rgb(194, 231, 243), pink);
    box-shadow: 2px 2px 5px darkslategray;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.emoji {
    font-size: 2rem;
}

.errorDisplay {
    font-weight: bold;
    font-size: 3rem;
    color: rgb(191, 46, 191);
}

/* Responsive Design */
@media (max-width: 768px) {
    .cityInput {
        width: 100%;
    }

    .forecast-container {
        flex-direction: column;
        align-items: center;
    }

    .day-card {
        width: 100%;
        margin: 5px 0;
    }
}